{% extends "layout.twig" %}

{% block content %}
<form action="{{ root }}/expressions/delete/{{ id }}" method="post">
    <h2>Voulez-vous supprimer cette expression ?</h2>

    <h3>FR : <span class="tip">{{ french }}</span></h3>

    <h3>EN : <span class="tip">{{ english }}</span></h3>

    <h3>Phonétique : <span class="tip">{{ phonetics }}</span></h3>

    <input type="hidden" name="token" value="{{ session.token }}">

    <button class="btn-danger m-bottom">Confirmer</button>
</form>
{% endblock %}