{% extends "layout.twig" %}

{% block title %}Suppression de l'expression{% endblock %}

{% block content %}
<form action="{{ root }}/expressions/delete/{{ id }}" method="post">
    <h3>Voulez-vous supprimer cette expression ?</h3>

    <h4>FR : <strong>{{ french }}</strong></h4>

    <h4>EN : <strong>{{ english }}</strong></h4>

    <h4>Phonétique : <strong>{{ phonetics }}</strong></h4>

    <input type="hidden" name="token" value="{{ session.token }}">

    <button class="btn-danger m-bottom">Confirmer</button>
</form>
{% endblock %}