{% import "macros/forms.twig" as forms %}
{% import "macros/links.twig" as links %}

{% extends "layout.twig" %}

{% block title %}Edition de l'expression : {{ title }}{% endblock %}

{% block content %}
    <h2>Edition de l'expression : {{ title }}</h2>

    {% if 1 %}
        <form action="{{ root }}/expressions/edit/1" class="w3-container w3-third" method="post">
            {# Expression (FR) #}

            <label for="french"></label>
            <input type="text" name="french" id="french" value="{{ french }}" class="w3-input w3-border w3-margin-bottom">

            {{ forms.text("french", french, "Expression") }}

            <p class="w3-text-blue">{{ tips.french }}</p>

            <p class="w3-text-red">{{ errors.french }}</p>

            {# Traduction (EN) #}

            <label for="english">Traduction</label>
            <input type="text" name="english" id="english" value="{{ english }}" class="w3-input w3-border w3-margin-bottom">

            <p class="w3-text-blue">{{ tips.english }}</p>

            <p class="w3-text-red">{{ errors.english }}</p>

            {# Phonétique #}

            <label for="phonetics">Phonétique</label>
            <input type="text" name="phonetics" id="phonetics" value="{{ phonetics }}" class="w3-input w3-border w3-margin-bottom">

            <p class="w3-text-blue">{{ tips.phonetics }}</p>

            <p class="w3-text-red">{{ errors.phonetics }}</p>

            {# Jeton CSRF #}

            <input type="hidden" name="token" value="{{ token }}">

            {# Bouton #}

            <button class="w3-btn w3-margin-bottom w3-green ">
                <a href="{{ root }}/expressions/edit/{{ id }}">
                    <i class="fa fa-pencil"></i> Editer
                </a>
            </button>
        </form>
    {% else %}
        <p>Vous n'êtes pas autorisé(e) à éditer cette expression.</p>

        <p>Veuillez revenir à la <a class="w3-text-blue" href="{{ root }}/themes/show/1">liste des expressions</a>.</p>
    {% endif %}
{% endblock %}