{# Titre #}

{% if label == "Ajouter" %}
<h2>Ajout d'une expression</h2>
{% else %}
<h3>Edition de l'expression</h3>
{% endif %}

{# Expression (FR) #}

<label for="french">Expression</label>
<input type="text" name="french" id="french" value="{{ french }}" class="input">

<p class="tip">{{ tips.french }}</p>

<p class="error">{{ errors.french }}</p>

{# Traduction (EN) #}

<label for="english">Traduction</label>
<input type="text" name="english" id="english" value="{{ english }}" class="input">

<p class="tip">{{ tips.english }}</p>

<p class="error">{{ errors.english }}</p>

{# Phonétique #}

<label for="phonetics">Phonétique</label>
<input type="text" name="phonetics" id="phonetics" value="{{ phonetics }}" class="input">

<p class="tip">{{ tips.phonetics }}</p>

<p class="error">{{ errors.phonetics }}</p>

{# Jeton CSRF #}

<input type="hidden" name="token" value="{{ session.token }}">

{# Bouton #}

<button class="btn-success">{{ label }}</button>

{# Lien de retour #}

<p>
    <a href="{{ root }}/themes/show/{{ themeId }}">&lt; Retour à la liste</a>
</p>