{% import "macros/forms.twig" as forms %}
{% import "macros/links.twig" as links %}

{% extends "layout.twig" %}

{% block title %}Ajouter une expression{% endblock %}

{% block content %}
    <h2>Ajout d'une expression</h2>

    {% if 1 %}
        {{ forms.start("expressions/new", "third") }}
            {# Expression (FR) #}

            {{ forms.text("french", french, "Expression") }}

            {{ forms.info(tips.french) }}

            {{ forms.error(errors.french) }}

            {# Traduction (EN) #}

            {{ forms.text("english", english, "Traduction") }}

            {{ forms.info(tips.english) }}

            {{ forms.error(errors.english) }}

            {# Phonétique #}

            {{ forms.text("phonetics", phonetics, "Phonétique") }}

            {{ forms.info(tips.phonetics) }}

            {{ forms.error(errors.phonetics) }}

            {# Jeton CSRF #}

            {{ forms.csrf }}

            {# Bouton #}

            {{ forms.submit("Ajouter") }}
        {{ forms.end }}
    {% else %}
        <p>Vous devez être {{ links.hypertext("login", "connecté(e)") }} pour ajouter une expression à ce thème.</p>
    {% endif %}
{% endblock %}