<nav id="navbar">
    <a href="{{ root }}" class="nav-brand">English Learner</a>

    {% if user %}
    <a href="{{ root }}/profile">Bienvenue {{ username }}</a>
    <a href="{{ root }}/logout">Déconnexion</a>
    {% else %}
    <a href="{{ root }}/register">Inscription</a>
    <a href="{{ root }}/login">Connexion</a>
    {% endif %}

    <a href="{{ root }}/users">Communauté</a>
    <a href="{{ root }}/themes">Listes</a>

    <a href="javascript:void(0);" class="icon" onclick="toggleNavbar()">
        <i class="fa fa-bars"></i>
    </a>
</nav>