{# Tableaux #}

<table class="w3-table w3-striped w3-hoverable">

{# Formulaires #}

<form action="{{ root }}/" class="w3-container w3-" method="post">

<input type="hidden" name="token" value="{{ token }}">

<label for=""></label>
<input type="text" name="" id="" value="{{  }}" class="w3-input w3-border w3-margin-bottom">

<label for="email"></label>
<input type="text" name="email" id="email" value="{{ email }}" class="w3-input w3-border w3-margin-bottom">

<label for=""></label>
<input type="password" name="" id="" value="{{  }}" class="w3-input w3-border w3-margin-bottom">

{# Boutons #}

<button class="w3-btn w3-margin-bottom w3-blue"></button>

<button class="w3-btn w3-red">Confirmer</button>

<button class="w3-btn w3-margin-bottom w3-blue ">
    <i class="fa fa-plus"></i> Ajouter
</button>

<button class="w3-btn w3-margin-right w3-green ">
    <i class="fa fa-pencil"></i> Editer
</button>

<button class="w3-btn w3-red ">
    <i class="fa fa-pencil"></i> Supprimer
</button>

{# Messages #}

<p class="w3-text-blue">{{ tips. }}</p>

<p class="w3-text-red">{{ errors. }}</p>

{# Liens #}

<a class="w3-text-blue" href="{{ root }}/"></a>

<a class="w3-text-blue" href="{{ root }}/">page d'accueil</a>