{# Liens hypertexte #}

{% macro hypertext(page, content) %}
    <a class="w3-text-blue" href="{{ root }}/{{ page }}">{{ content }}</a>
{% endmacro %}

{# Page d'accueil #}

{% macro home(page, content) %}
    {{ self.hypertext("", "page d'accueil") }}
{% endmacro %}

{# Thèmes #}

{% macro show(id, title) %}
    <a class="w3-text-blue" href="themes/show/{{ id }}">{{ title }}</a>
{% endmacro %}