{# Tableaux #}

{# Début #}

{% macro start() %}
    <table class="w3-table w3-striped w3-hoverable">
{% endmacro %}

{# Fin #}

{% macro end() %}
    </table>
{% endmacro %}

{# Boutons #}

{# Ajout #}

{% macro add(type, text) %}
    <button class="w3-btn w3-green w3-margin-bottom">
        <i class="fa fa-plus"></i> {{ text }}
    </button>
{% endmacro %}

{# Edition #}

{% macro edit(type, id) %}
    <button class="w3-btn w3-blue w3-margin-right">
        <a href="{{ root }}/{{ type }}/edit/{{ id }}">
            <i class="fa fa-pencil"></i> Editer
        </a>
    </button>
{% endmacro %}

{# Suppression #}

{% macro delete(type, id) %}
    <button class="w3-btn w3-blue w3-margin-right">
        <a href="{{ root }}/{{ type }}/delete/{{ id }}">
            <i class="fa fa-pencil"></i> Suppression
        </a>
    </button>
{% endmacro %}