{% macro stats(page, id, count, name) %}

<div class="w3-third">
    <a href="{{ root }}/{{ page }}">
        <div id="{{ id }}" class="w3-card w3-container w3-center w3-margin-right">
            <h1>{{ count }}</h1>

            <h2>{{ name }}</h2>
        </div>
    </a>
</div>

{% endmacro %}

{# *** #}

{% extends "layout.twig" %}

{% block title %}Accueil{% endblock %}

{% block content %}

<h1>Il y a actuellement...</h1>

{{ _self.stats("themes", "themes", nbThemes, "thèmes") }}

{{ _self.stats("users", "users", nbUsers, "utilisateurs") }}

{{ _self.stats("themes", "expressions", nbExpressions, "expressions") }}

{% endblock %}