{% extends "layout.twig" %}

{% block title %}Accueil{% endblock %}

{% block styles %}
<link href="{{ public }}/css/cards.css" rel="stylesheet">
{% endblock %}

{% block content %}

<h1>Il y a actuellement...</h1>

<div class="row">
    <div class="column">
        <div class="card" id="themes">
            <a href="{{ root }}/themes">
                <h1>{{ nbThemes }}</h1>

                <h2>thèmes</h2>
            </a>
        </div>
    </div>

    <div class="column">
        <div class="card" id="expressions">
            <a href="{{ root }}/themes">
                <h1>{{ nbExpressions }}</h1>

                <h2>expressions</h2>
            </a>
        </div>
    </div>
    
    <div class="column">
        <a href="{{ root }}/users">
        <div class="card" id="users">
            
                <h1>{{ nbUsers }}</h1>

                <h2>utilisateurs</h2>
            
        </div>
        </a>
    </div>
</div>
{% endblock %}