{% extends "layout.twig" %}

{% block title %}Tests{% endblock %}

{% block content %}

<h2>Messages flash</h2>

<form action="{{ root }}/tests" class="w3-container" method="post">
    <button class="w3-btn w3-blue">Tester la session (messages flash)</button>
</form>

<h2>Routes et liens</h2>

<div class="w3-container">
    <h3>Routes d'authentification</h3>

    {% for link in auth %}
    <a href="{{ root }}/{{ link }}" target="_blank">
        <button class="w3-btn w3-blue">{{ link }}</button>
    </a>
    {% endfor %}
    
    <h3>Routes des thèmes (CRUD)</h3>

    {% for link in themes %}
    <a href="{{ root }}/{{ link }}" target="_blank">
        <button class="w3-btn w3-blue">{{ link }}</button>
    </a>
    {% endfor %}

    <h3>Routes des utilisateurs (CRUD)</h3>

    {% for link in users %}
    <a href="{{ root }}/{{ link }}" target="_blank">
        <button class="w3-btn w3-blue">{{ link }}</button>
    </a>
    {% endfor %}

    <h3>Routes des expressions (CRUD)</h3>

    {% for link in expressions %}
    <a href="{{ root }}/{{ link }}" target="_blank">
        <button class="w3-btn w3-blue">{{ link }}</button>
    </a>
    {% endfor %}

    <h2>Fenêtres modales</h2>

    {# Déclencheur de la fenêtre modale #}

    <button onclick="document.getElementById('myModal').style.display='block'"
    class="w3-button w3-green">Open Modal</button>
{% endblock %}