{% extends "layout.twig" %}

{% block title %}Listes{% endblock %}

{% block content %}
    <h2>Thèmes</h2>

    {% if canAdd %}
        <a class="w3-text-blue" href="{{ root }}/themes/new">
            <button class="w3-btn w3-margin-bottom w3-blue">
                <i class="fa fa-plus"></i> Ajouter un thème
            </button>
        </a>

        {% include "themes/delete_theme.twig" %}
    {% endif %}

    {% if themes %}
        <table class="w3-table w3-striped w3-hoverable">
            <thead>
                <tr>
                    <th>Titre</th>
                    <th>Auteur</th>
                    <th>Nb Expressions</th>
                    {% if canAdd %}
                    <th></th>
                    {% endif %}
                </tr>
            </thead>

            <tbody>
                {% for theme in themes %}
                <tr>
                    <td>
                        <a class="w3-text-blue" href="themes/show/{{ theme.id }}">{{ theme.title }}</a>
                    </td>

                    <td>{{ theme.author }}</td>
                    <td>{{ theme.nbExpressions }}</td>

                    {% if theme.canEdit %}
                    <td>
                        <a href="{{ root }}/themes/edit/{{ theme.id }}">
                            <button class="w3-btn w3-margin-right w3-green">
                                <i class="fa fa-pencil"></i>
                            </button>
                        </a>

                        {#<a href="{{ root }}/themes/delete/{{ theme.id }}">#}
                            <button class="w3-btn w3-red" onclick="openModal({{ theme.id }}, '{{ theme.title }}')">
                                <i class="fa fa-close"></i>
                            </button>
                        {#</a>#}
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Aucun thème n'est enregistré.</p>
    {% endif %}
{% endblock %}

{% block scripts %}
<script src="{{ public }}/js/delete-theme.js"></script>
{% endblock %}