{% import "macros/tables.twig" as table %}
{% import "macros/links.twig" as links %}

{% extends "layout.twig" %}

{% block title %}Listes{% endblock %}

{% block content %}
    <h2>Thèmes</h2>

    {% if 1 %}
        {{ table.add("themes", "Ajouter un thème") }}
    {% endif %}

    {% if themes %}
        {{ table.start }}
            <thead>
                <tr>
                    <th>Titre</th>
                    <th>Auteur</th>
                    <th>Nb Expressions</th>
                    {% if canAdd %}
                    <th></th>
                    {% endif %}
                </tr>
            </thead>

            <tbody>
                {% for theme in themes %}
                <tr>
                    {#<td> <a class="w3-text-blue" href="themes/show/{{ theme.id }}">{{ theme.title }}</a></td> #}
                    <td>{{ links.show(theme.id, theme.title) }}</td>
                    <td>{{ theme.author }}</td>
                    <td>{{ theme.nbExpressions }}</td>

                    {% if 1 %}
                    <td>
                        {{ table.edit("themes", theme.id) }}
                        {{ table.delete("themes", theme.id) }}
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        {{ table.end }}
    {% else %}
        <p>Aucun thème n'est enregistré.</p>
    {% endif %}
{% endblock %}