{% extends "layout.twig" %}

{% block content %}
    <h2>{{ pageTitle }}</h2>

    {% if canAdd %}
        <a href="{{ root }}/themes/new">
            <button class="btn-info m-bottom">
                <i class="fa fa-plus"></i> Ajouter un thème
            </button>
        </a>
    {% endif %}

    {% if themes %}
        <div class="table-responsive">
            <table>
                <thead>
                    <tr>
                        <th>Titre</th>
                        <th>Auteur</th>
                        <th>Nb Expressions</th>
                        {% if canAdd %}
                        <th></th>
                        {% endif %}
                    </tr>
                </thead>

                <tbody>
                    {% for theme in themes %}
                    <tr>
                        <td>
                            <a href="{{ root }}/themes/show/{{ theme.id }}">{{ theme.title }}</a>
                        </td>

                        <td>{{ theme.author }}</td>
                        <td>{{ theme.nbExpressions }}</td>

                        {% if canAdd %}
                        <td>
                            {% if theme.canEdit %}
                            <a href="{{ root }}/themes/edit/{{ theme.id }}">
                                <button class="btn-success m-right">
                                    <i class="fa fa-pencil"></i>
                                </button>
                            </a>

                            <a href="{{ root }}/themes/delete/{{ theme.id }}">
                                <button class="btn-danger">
                                    <i class="fa fa-close"></i>
                                </button>
                            </a>
                            {% endif %}
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p>Aucun thème n'est enregistré.</p>
    {% endif %}
{% endblock %}