{% extends "layout.twig" %}

{% block title %}Listes{% endblock %}

{% block content %}
    <h2>Thèmes</h2>

    {% if 1 %}
        <a class="w3-text-blue" href="{{ root }}/themes/new">
            <button class="w3-btn w3-margin-bottom w3-blue" onclick="openModal('newTheme')">
                <i class="fa fa-plus"></i> Ajouter un thème
            </button>
        </a>
    {% endif %}

    {% if themes %}
        <table class="w3-table w3-striped w3-hoverable">
            <thead>
                <tr>
                    <th>Titre</th>
                    <th>Auteur</th>
                    <th>Nb Expressions</th>
                    {% if 1 %}
                    <th></th>
                    {% endif %}
                </tr>
            </thead>

            <tbody>
                {% for theme in themes %}
                <tr>
                    <td>
                        <a class="w3-text-blue" href="themes/show/{{ theme.id }}">{{ theme.title }}</a>
                    </td>

                    <td>{{ theme.author }}</td>
                    <td>{{ theme.nbExpressions }}</td>

                    {% if 1 %}
                    <td>
                        <button class="w3-btn w3-margin-right w3-green">
                            <i class="fa fa-pencil"></i>
                        </button>

                        <button class="w3-btn w3-red">
                            <i class="fa fa-close"></i>
                        </button>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Aucun thème n'est enregistré.</p>
    {% endif %}
{% endblock %}