{% extends "layout.twig" %}

{% block title %}Communauté{% endblock %}

{% block content %}
    <h2>Communauté</h2>

    {% if users %}
        <div class="w3-responsive">
            <table class="w3-table w3-striped w3-hoverable">
                <thead>
                    <tr>
                        <th>Pseudo</th>
                        <th>Rôle</th>
                        <th>Inscrit(e) le</th>
                        <th>Contributions</th>
                        {% if 1 %}<th></th>{% endif %}
                    </tr>
                </thead>

                <tbody>
                    {% for user in users %}
                    <tr>
                        <td>{{ user.username }}</td>
                        <td class="{{ user.color }}">{{ user.role }}</td>
                        <td>{{ user.createdAt }}</td>
                        <td>
                            {{ user.nbThemes }} thème{% if user.nbThemes > 1 %}s{% endif %}<br>
                            {{ user.nbExpressions }} expression{% if user.nbExpressions > 1 %}s{% endif %}
                        </td>

                        {% if user.canEdit %}
                        <td>
                            <a href="{{ root }}/users/edit/{{ user.id }}">
                                <button class="w3-btn w3-margin-right w3-green">
                                    <i class="fa fa-pencil"></i>
                                </button>
                            </a>

                            <a href="{{ root }}/users/delete/{{ user.id }}">
                                <button class="w3-btn w3-red" onclick="openModal('deleteUser')">
                                    <i class="fa fa-close"></i>
                                </button>
                            </a>
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p>Aucun utilisateur n'est enregistré.</p>
    {% endif %}
{% endblock %}