{% extends "layout.twig" %}

{% block title %}Communauté{% endblock %}

{% block content %}
    <h2>Liste des utilisateurs</h2>

    {% if users %}
    <table class="w3-table w3-striped w3-hoverable">
        <thead>
            <tr>
                <th>Pseudo</th>
                <th>Rôle</th>
                <th>Inscrit(e) le</th>
                <th>Contributions</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td class="{{ user.color }}">{{ user.role }}</td>
                <td>{{ user.createdAt }}</td>
                <td>{{ user.nbThemes }} thèmes<br>{{ user.nbExpressions }} expressions</td>
                <td>
                    <button class="w3-btn w3-blue w3-margin-right">
                        <i class="fa fa-pencil"></i> Editer
                    </button>

                    <button class="w3-btn w3-red">
                        <i class="fa fa-trash"></i> Supprimer
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>Aucun utilisateur n'est enregistré.</p>
    {% endif %}
{% endblock %}