{% extends "layout.twig" %}

{% block title %}Communauté{% endblock %}

{% block styles %}
<link href="{{ public }}/css/tables.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <h2>La liste des utilisateurs</h2>

    {% if users %}
    <table>
        <thead>
            <tr>
                <th>Pseudo</th>
                <th>Rôle</th>
                <th>Inscrit(e) le</th>
                <th>Contributions</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td class="{{ user.color }}">{{ user.role }}</td>
                <td>{{ user.createdAt }}</td>
                <td>{{ user.nbThemes }} thèmes<br>{{ user.nbExpressions }} expressions</td>
                <td></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>Aucun utilisateur n'est enregistré.</p>
    {% endif %}
{% endblock %}