{% extends "layout.twig" %}

{% block content %}
    {% include "partials/delete.twig" %}

    <form action="{{ root }}/themes/delete/{{ id }}" id="delete-form" method="post">
        <h2>Voulez-vous supprimer ce thème ?</h2>

        <h3>Titre : <span class="tip">{{ title }}</span></h3>

        <hr>

        <h3 class="error">
            <i class="fa fa-warning m-right"></i>
            La suppression de ce thème entraîne la suppression de toutes ses expressions.
        </h3>

        <input type="hidden" name="token" value="{{ session.token }}">

        <button class="btn-danger m-bottom" id="open-btn">Confirmer</button>
    </form>

    <hr>

    <a href="{{ root }}/themes">&lt; Retour à la liste</a>
{% endblock %}

{% block scripts %}
<script src="{{ public }}/js/delete.js"></script>
{% endblock %}