{% extends "layout.twig" %}

{% block title %}Suppression du thème : {{ title }}{% endblock %}

{% block content %}
<form action="{{ root }}/themes/delete/{{ id }}" method="post">
    <h3>Voulez-vous supprimer ce thème ?</h3>

    <h4>Titre : <strong>{{ title }}</strong></h4>

    <hr>

    <h5 class="error"><strong>Attention :</strong> La suppression de ce thème entraîne la suppression de toutes ses expressions.</h5>

    <input type="hidden" name="token" value="{{ session.token }}">

    <button class="btn-danger m-bottom">Confirmer</button>
</form>
{% endblock %}