{% extends "layout.twig" %}

{% block title %}Edition du thème : {{ title }}{% endblock %}

{% block content %}
    <h3>Edition du thème : {{ title }}</h3>

    <form action="{{ root }}/themes/edit/{{ id }}" class="w3-container w3-third" method="post">
        {# Titre #}

        <label for="title">Titre</label>
        <input type="text" name="title" id="title" value="{{ title }}" class="w3-input w3-border w3-margin-bottom">

        <p class="w3-text-blue">{{ tips.title }}</p>

        <p class="w3-text-red">{{ errors.title }}</p>

        {# Jeton CSRF #}

        <input type="hidden" name="token" value="{{ session.token }}">

        {# Bouton d'édition #}

        <button class="w3-btn w3-green">Editer</button>

        {# Lien de retour #}

        <p>
            <a class="w3-text-blue" href="{{ root }}/themes/">&lt; Retour à la liste</a>
        </p>
    </form>
{% endblock %}