{% extends "layout.twig" %}

{% block title %}Edition du thème : {{ title }}{% endblock %}

{% block content %}
    <h3>Edition du thème : {{ title }}</h3>

    <form action="{{ root }}/themes/edit/{{ id }}" class="third" method="post">
        {# Titre #}

        <label for="title">Titre</label>
        <input type="text" name="title" id="title" value="{{ title }}" class="input">

        <p class="tip">{{ tips.title }}</p>

        <p class="error">{{ errors.title }}</p>

        {# Jeton CSRF #}

        <input type="hidden" name="token" value="{{ session.token }}">

        {# Bouton d'édition #}

        <button class="btn-success">Editer</button>

        {# Lien de retour #}

        <p>
            <a href="{{ root }}/themes/">&lt; Retour à la liste</a>
        </p>
    </form>
{% endblock %}