{% extends "layout.twig" %}

{% block content %}
    <h2>Edition du thème : {{ title }}</h2>

    {% if 1 %}
        <form action="{{ root }}/themes/edit/1" class="w3-container" method="post">
            {# Titre #}

            <label for="title">Titre</label>
            <input type="text" name="title" id="title" value="{{ title }}" class="w3-input w3-border w3-margin-bottom">

            <p class="w3-text-blue">{{ tips.title }}</p>

            <p class="w3-text-red">{{ errors.title }}</p>

            {# Jeton CSRF #}

            <input type="hidden" name="token" value="{{ token }}">

            {# Bouton d'édition #}

            <button class="w3-btn w3-margin-bottom w3-green">Editer</button>
        </form>
    {% else %}
        <p>Vous n'êtes pas autorisé(e) à éditer ce thème.</p>

        <p>Veuillez revenir à la <a class="w3-text-blue" href="{{ root }}/themes">liste des thèmes</a>.</p>
    {% endif %}
{% endblock %}