{% import "macros/forms.twig" as forms %}
{% import "macros/links.twig" as links %}

{% extends "layout.twig" %}

{% block title %}Edition du thème : {{ title }}{% endblock %}

{% block content %}
    <h2>Edition du thème : {{ title }}</h2>

    {% if 0 %}
        {{ forms.start("themes/edit/1", "third") }}
            {{ forms.text("title", "Titre") }}

            {{ forms.info(tips.title) }}

            {{ forms.error(errors.title) }}

            {{ forms.csrf }}

            {{ forms.submit("Editer") }}
        {{ forms.end }}
    {% else %}
        <p>Vous n'êtes pas autorisé(e) à éditer ce thème.</p>

        <p>Veuillez revenir à la {{ links.hypertext("themes", "liste des thèmes") }}.</p>
    {% endif %}
{% endblock %}