{% extends "layout.twig" %}

{% block content %}
    <h3>Edition du thème : {{ theme }}</h3>

    <form action="{{ root }}/themes/edit/{{ id }}" class="w3-container" method="post">
        {# Titre #}

        <label for="title">Titre</label>
        <input type="text" name="title" id="title" value="{{ title }}" class="w3-input w3-border w3-margin-bottom">

        <p class="w3-text-blue">{{ tips.title }}</p>

        <p class="w3-text-red">{{ errors.title }}</p>

        {# Jeton CSRF #}

        <input type="hidden" name="token" value="{{ session.token }}">

        {# Bouton d'édition #}

        <button class="w3-btn w3-margin-bottom w3-green">Editer</button>
    </form>
{% endblock %}