{% extends "layout.twig" %}

{% block title %}
Flashcards > {{ title }}
{% endblock %}

{% block styles %}
<link href="{{ public }}/css/game.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <p>
        <a class="w3-text-blue" href="{{ root }}/themes/show/{{ id }}">&lt; Retour à la liste</a>
    </p>

    <h2>Flashcards > {{ title }}</h2>

    <div class="w3-container">
    {% if not started %}
        <form action="{{ root }}/themes/start/{{ id }}" method="post">
            <div class="w3-third">
                <p>Niveau de difficulté</p>

                <select class="w3-select w3-margin-bottom" name="level">
                    {% for level in levels %}
                    <option value="{{ level }}">{{ level }}</option>
                    {% endfor %}
                </select>

                <button class="w3-btn w3-green">Let's go !</button>
            </div>
        </form>
    {% else %}
        {% set index = 0 %}

        {% for flashcard in flashcards %}
            {% set index = index + 1 %}

            <div class="w3-card-4 w3-margin w3-half" id="card{{ index }}" onclick="showAnswer({{ index }});">
                <div class="w3-display-container close" onclick="closeCard(this);">
                    <div class="w3-button w3-large w3-display-topright">&times;</div>
                </div>

                <div class="w3-center">
                    <h2>{{ flashcard.french }}</h2>
                </div>

                <div class="answers">
                    <div class="w3-center">
                        <h2>{{ flashcard.english }}</h2>
                    </div>
                    
                    <div class="w3-center">
                        <h3><em>{{ flashcard.phonetics }}</em></h3>
                    </div>
                </div>
            </div>
        {% endfor %}

        <div class="w3-container">
            <a href="{{ root }}/themes/start/{{ id }}">
                <button class="w3-btn w3-green w3-margin-top w3-margin-bottom" id="restart">Rejouer ?</button>
            </a>
        </div>
    {% endif %}
    </div>
{% endblock %}

{% block scripts %}
<script src="{{ public }}/js/game.js"></script>
{% endblock %}