{% extends "layout.twig" %}

{% block title %}
    {{ pageTitle }}
{% endblock %}

{% block content %}
    <p>
        <a href="{{ root }}/themes/show/{{ id }}">&lt; Retour à la liste</a>
    </p>

    <hr>

    <h2>{{ pageTitle }}</h2>

    {% if not started %}
        <form action="{{ root }}/themes/start/{{ id }}" method="post">
            <div class="third">
                <p>Niveau de difficulté</p>

                <select class="input" name="level">
                    {% for level in levels %}
                    <option value="{{ level }}">{{ level }}</option>
                    {% endfor %}
                </select>

                <button class="btn-success">Let's go !</button>
            </div>
        </form>
    {% else %}
        {% for flashcard in flashcards %}
            <ul class="m-top">
                <li class="flashcard">
                    <h2>
                        {{ flashcard.french }}

                        <span class="card-close">&times;</span>
                    </h2>
                    
                    <div class="answers">
                        <h2>{{ flashcard.english }}</h2>

                        <h3>
                            <em>{{ flashcard.phonetics }}</em>
                        </h3>
                    </div>
                </li>
            </ul>
        {% endfor %}

        <div class="container">
            <a href="{{ root }}/themes/start/{{ id }}">
                <button class="btn-success m-vertical">Rejouer ?</button>
            </a>
        </div>
    {% endif %}
{% endblock %}

{% block scripts %}
<script src="{{ public }}/js/game.js"></script>
{% endblock %}