<div id="newTheme" class="w3-modal">
    <div class="w3-modal-content w3-card-4" style="max-width: 500px">
        <div class="w3-center">
            <div class="w3-container">
                <span onclick="closeModal('newTheme');" class="w3-button w3-display-topright">&times;</span>

                <h3>Ajout d'un thème</h3>

                {% if 1 %}
                    <form action="themes/new" class="w3-container" method="post">
                        <label for="title">{{ title }}</label>
                        <input type="text" name="title" id="title" value="{{ title }}" class="w3-input w3-border w3-margin-bottom">

                        <p class="w3-text-blue">{{ tips.title }}</p>

                        <p class="w3-text-red">{{ errors.title }}</p>

                        <input type="hidden" name="token" value="{{ token }}">

                        <button class="w3-btn w3-blue">Ajouter</button>
                    </form>

                    <div class="w3-margin-bottom"></div>
                {% else %}
                    <p>Vous devez être <a href="{{ root }}/login" class="w3-text-blue">connecté(e)</a> pour ajouter un thème.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>