{% extends "layout.twig" %}

{% block title %}Ajouter un thème{% endblock %}

{% block content %}
    <h2>Ajout d'un thème</h2>

    {% if loggedIn %}
        <form action="{{ root }}/themes/new" class="w3-container w3-third" method="post">
            <label for="title">Titre</label>
            <input type="text" name="title" id="title" value="{{ title }}" class="w3-input w3-border w3-margin-bottom">

            <p class="w3-text-blue">{{ tips.title }}</p>

            <p class="w3-text-red">{{ errors.title }}</p>

            <input type="hidden" name="token" value="{{ token }}">

            <button class="w3-btn w3-blue">Ajouter</button>
        </form>
    {% else %}
        <p>Vous devez être <a class="w3-text-blue" href="{{ root }}/login">connecté(e)</a> pour ajouter un thème.</p>
    {% endif %}
{% endblock %}