{% extends "layout.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h2>{{ title }}</h2>

    {% if canAdd %}
        <button class="w3-btn w3-margin-bottom w3-blue" onclick="openModal('newExpression')">
            <i class="fa fa-plus"></i> Ajouter une expression
        </button>
    {% endif %}

    {% if expressions %}
        <table class="w3-table w3-striped w3-hoverable">
            <thead>
                <tr>
                    <th>Mot</th>
                    <th>Traduction</th>
                    <th>Prononciation</th>
                    <th>Auteur</th>
                    {% if canAdd %}
                    <th></th>
                    {% endif %}
                </tr>
            </thead>

            <tbody>
                {% for expression in expressions %}
                <tr>
                    <td>{{ expression.french }}</td>
                    <td>{{ expression.english }}</td>
                    <td>{{ expression.phonetics }}</td>
                    <td>{{ expression.author }}</td>

                    {% if expression.canEdit %}
                    <td>
                        <a href="{{ root }}/expressions/edit/{{ expression.id }}">
                            <button class="w3-btn w3-margin-right w3-green">
                                <i class="fa fa-pencil"></i>
                            </button>
                        </a>

                        <a href="{{ root }}/expressions/delete/{{ expression.id }}">
                            <button class="w3-btn w3-red" onclick="openModal('deleteExpression')">
                                <i class="fa fa-pencil"></i>
                            </button>
                        </a>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Aucune expression n'est enregistrée pour ce thème.</p>
    {% endif %}
{% endblock %}