{% import "macros/forms.twig" as forms %}
{% import "macros/links.twig" as links %}

{% extends "layout.twig" %}

{% block title %}Edition de l'expression : {{ title }}{% endblock %}

{% block content %}
    <h2>Edition de l'expression : {{ title }}</h2>

    {% if 1 %}
        {{ forms.start("expressions/edit/1", "third") }}
            {# Expression (FR) #}

            {{ forms.text("french", french, "Expression") }}

            {{ forms.info(tips.french) }}

            {{ forms.error(errors.french) }}

            {# Traduction (EN) #}

            {{ forms.text("english", english, "Traduction") }}

            {{ forms.info(tips.english) }}

            {{ forms.error(errors.english) }}

            {# Phonétique #}

            {{ forms.text("phonetics", phonetics, "Phonétique") }}

            {{ forms.info(tips.phonetics) }}

            {{ forms.error(errors.phonetics) }}

            {# Jeton CSRF #}

            {{ forms.csrf }}

            {# Bouton #}

            {{ forms.submit("Editer") }}
        {{ forms.end }}
    {% else %}
        <p>Vous n'êtes pas autorisé(e) à éditer cette expression.</p>

        <p>Veuillez revenir à la {{ links.hypertext("themes/show/2", "liste des expressions") }}.</p>
    {% endif %}
{% endblock %}