{% import "macros/tables.twig" as table %}

{% extends "layout.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h2>{{ title }}</h2>

    {% if 1 %}
        {{ table.add("expressions", "Ajouter une expression") }}
    {% endif %}

    {% if expressions %}
        {{ table.start }}
            <thead>
                <tr>
                    <th>Mot</th>
                    <th>Traduction</th>
                    <th>Prononciation</th>
                    <th>Auteur</th>
                    {% if canAdd %}
                    <th></th>
                    {% endif %}
                </tr>
            </thead>

            <tbody>
                {% for expression in expressions %}
                <tr>
                    <td>{{ expression.french }}</td>
                    <td>{{ expression.english }}</td>
                    <td>{{ expression.phonetics }}</td>
                    <td>{{ expression.author }}</td>

                    {% if expression.canEdit %}
                    <td>
                        {{ table.edit("expressions", expression.id) }}
                        {{ table.delete("expressions", expression.id) }}
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        {{ table.end }}
    {% else %}
        <p>Aucune expression n'est enregistrée pour ce thème.</p>
    {% endif %}
{% endblock %}