{% macro title() %}
<img src="{{ public }}/img/bg-blackboard.jpg" class="background" alt="background">

<div class="w3-container w3-margin">
    <h3>Pourquoi Twig ?</h3>
</div>
{% endmacro %}

{# 1 #}

<div class="w3-container w3-display-middle w3-center w3-card-2 slides">
    {{ _self.title }}

    <div class="w3-container w3-margin">
        <h3>L'héritage de templates</h3>

        <div class="w3-container w3-margin-bottom"></div>

        <div class="w3-container w3-margin">
            <img src="{{ public }}/img/twig-extends.png" />
        </div>

        <h3>L'inclusion de pages</h3>

        <div class="w3-container w3-margin-bottom"></div>

        <div class="w3-container w3-margin">
            <img src="{{ public }}/img/twig-include.png" />
        </div>
    </div>
    
    {% include "slides/buttons.twig" %}
</div>

{# 2 #}

<div class="w3-container w3-display-middle w3-center w3-card-2 slides">
    {{ _self.title }}

    <div class="w3-container w3-margin">
        <h3>Les variables</h3>

        <div class="w3-container w3-margin-bottom"></div>

        <div class="w3-container w3-margin">
            <img src="{{ public }}/img/twig-vars.png" />
        </div>
    </div>
    
    {% include "slides/buttons.twig" %}
</div>

{# 3 #}

<div class="w3-container w3-display-middle w3-center w3-card-2 slides">
    {{ _self.title }}

    <div class="w3-container w3-margin">
        <h3>Les blocs</h3>

        <div class="w3-container w3-margin-bottom"></div>

        <div class="w3-container w3-margin">
            <img src="{{ public }}/img/twig-blocks.png" />
        </div>
    </div>
    
    {% include "slides/buttons.twig" %}
</div>

{# 4 #}

<div class="w3-container w3-display-middle w3-center w3-card-2 slides">
    {{ _self.title }}

    <div class="w3-container w3-margin">
        <h3>L'affichage conditionnel</h3>

        <div class="w3-container w3-margin-bottom"></div>

        <div class="w3-container w3-margin">
            <img src="{{ public }}/img/twig-conditions.png" />
        </div>
    </div>
    
    {% include "slides/buttons.twig" %}
</div>

{# 5 #}

<div class="w3-container w3-display-middle w3-center w3-card-2 slides">
    {{ _self.title }}

    <div class="w3-container w3-margin">
        <h3>L'affichage en boucle</h3>

        <div class="w3-container w3-margin-bottom"></div>

        <div class="w3-container w3-margin">
            <img src="{{ public }}/img/twig-boucle.png" />
        </div>
    </div>
    
    {% include "slides/buttons.twig" %}
</div>

{# 6 #}

<div class="w3-container w3-display-middle w3-center w3-card-2 slides">
    {{ _self.title }}

    <div class="w3-container w3-margin">
        <h3>Les macros</h3>

        <div class="w3-container w3-margin-bottom"></div>

        <div class="w3-container w3-margin">
            <img src="{{ public }}/img/twig-macros.png" />
        </div>
    </div>
    
    {% include "slides/buttons.twig" %}
</div>