    {# 1 #}


    {% extends "layout.twig" %}

    {% include "monfichier.twig" %}


    {# 2 #}


    <input type="hidden" name="token" value="{{ session.token }}">

    <a href="{{ root }}/themes/">&lt; Retour à la liste</a>


    {# 3 #}


    {% block content %}
        <p>Lorem ipsum...</p>
    {% endblock %}


    {# 4 #}


    {% if meteo == "ensoleillé" %}
        <p>Il fait beau.</p>
    {% elseif meteo == "nuageux" %}
        <p>Le temps est nuageux.</p>
    {% else %}
        <p>Il pleut.</p>
    {% endif %}

    
    {# 5 #}


    {% for theme in themes %}
        <p>{{ theme.title }}</p>
        <p>{{ theme.nbExpressions }}</p>
        <p>{{ theme.author }}</p>
    {% endfor %}


    {# 6 #}

    
    {% macro sayHello(name) %}
        <p>Hello {{ name }}</p>
    {% endmacro %}

    {{ _self.sayHello("Martin Solveig") }}