{% extends "layout.twig" %}

{% block content %}
<form action="{{ root }}/users/delete/{{ id }}" method="post">
    <h2>Voulez-vous supprimer cet utilisateur ?</h2>

    <h3>Pseudo : <span class="tip">{{ username }}</span></h3>

    <h3 class="error">
        <i class="fa fa-warning m-right"></i>
        La suppression de cet utilisateur entraîne la suppression de tous ses thèmes et expressions.
    </h3>

    <input type="hidden" name="token" value="{{ session.token }}">

    <button class="btn-danger m-bottom">Confirmer</button>
</form>

<hr>

{# Lien de retour #}

<p>
    <a href="{{ root }}/users">&lt; Retour à la liste</a>
</p>
{% endblock %}