{% extends "layout.twig" %}

{% block title %}Suppression de l'utilisateur : {{ username }}{% endblock %}

{% block content %}
<form action="{{ root }}/users/delete/{{ id }}" method="post">
    <h3>Voulez-vous supprimer cet utilisateur ?</h3>

    <h4>Pseudo : <strong>{{ username }}</strong></h4>

    <h5 class="error"><strong>Attention :</strong> La suppression de cet utilisateur entraîne la suppression de tous ses thèmes et expressions.</h5>

    <input type="hidden" name="token" value="{{ session.token }}">

    <button class="btn-danger m-bottom">Confirmer</button>
</form>

<hr>

{# Lien de retour #}

<p>
    <a href="{{ root }}/users">&lt; Retour à la liste</a>
</p>
{% endblock %}