{% import "macros/format.twig" as format %}
{% import "macros/forms.twig" as forms %}

{% extends "layout.twig" %}

{% block content %}
    <h2>Suppression de l'utilisateur {{ username }}</h2>

    {% if 1 %}
        {{ forms.start("/users/delete/1", "third") }}
            <p>Voulez-vous supprimer cet utilisateur ?</p>

            {{ forms.csrf }}

            {{ forms.delete }}
        {{ forms.end }}
    {% else %}
        <p>Vous n'êtes pas autorisé(e) à supprimer cet utilisateur.</p>

        <p>Veuillez revenir sur la {{ format.link("", "page d'accueil") }}.</p>
    {% endif %}
{% endblock %}