{% extends "layout.twig" %}

{% block content %}
    <h2>Edition du statut de {{ username }}</h2>

    <form action="{{ root }}/users/edit/{{ id }}" class="w3-container w3-quarter" method="post">
        {# Rôle #}

        {% set roles = ["Suspendu", "Membre", "Modérateur", "Administrateur"] %}

        <select class="w3-select w3-margin-bottom" name="role">
            <option value="" disabled>Rôle de l'utilisateur</option>
            {% for option in roles %}
            <option value="{{ option }}" {% if role == option %} selected {% endif %}>{{ option }}</option>
            {% endfor %}
        </select>

        {# Token CSRF #}

        <input type="hidden" name="token" value="{{ session.token }}">

        {# Bouton #}

        <button class="w3-btn w3-margin-bottom w3-green">Editer</button>
    </form>
{% endblock %}