{% extends "layout.twig" %}

{% block content %}
    <h2>Edition du statut de {{ username }}</h2>

    {% if 1 %}
        <form action="{{ root }}/users/edit/1" class="w3-container w3-quarter" method="post">
            {# Rôle #}

            <select class="w3-select" name="role" selected="{{ role }}">
                <option value="" disabled selected>Rôle de l'utilisateur</option>
                <option value="Membre">Membre</option>
                <option value="Modérateur">Modérateur</option>
                <option value="Administrateur">Administrateur</option>
            </select>

            {# Statut "Banni" #}

            <p>
                <label class="w3-margin-right" for="banned">Banni</label>
                <input class="w3-check" type="checkbox" name="banned" id="banned" checked="{{ banned }}">
            </p>

            {# Token CSRF #}

            <input type="hidden" name="token" value="{{ session.token }}">

            {# Bouton #}

            <button class="w3-btn w3-margin-bottom w3-green">Editer</button>
        </form>
    {% else %}
        <p>Vous n'êtes pas autorisé(e) à éditer le statut de cet utilisateur.</p>

        <p>Veuillez revenir sur la <a class="w3-text-blue" href="{{ root }}/">page d'accueil</a>.</p>
    {% endif %}
{% endblock %}