{% import "macros/forms.twig" as forms %}
{% import "macros/links.twig" as links %}

{% extends "layout.twig" %}

{% block title %}Connexion{% endblock %}

{% block content %}
    <h2>Connexion</h2>

    {% if not loggedIn %}
        {{ forms.start("login") }}
            {# Adresse e-mail #}

            {{ forms.text("email", email, "Adresse e-mail") }}

            {{ forms.error(errors.email) }}

            {# Mot de passe #}

            {{ forms.password("password", password, "Mot de passe") }}

            {{ forms.error(errors.password) }}

            {# Jeton CSRF #}

            {{ forms.csrf }}

            {# Bouton #}

            {{ forms.button("blue", "Se connecter") }}

            {# Lien d'inscription #}

            <p>{{ links.hypertext("register", "Pas encore inscrit(e) ?") }}</p>

            {#
            <p>{{ links.hypertext("reset", "Mot de passe oublié ?") }}</p>
            #}
        {{ forms.end }}
    {% else %}
        <p>Vous êtes déjà connecté(e).</p>

        <p>Veuillez revenir sur la {{ links.home }}.</p>
    {% endif %}
{% endblock %}