{% import "macros/forms.twig" as forms %}

{% extends "layout.twig" %}

{% block title %}Connexion{% endblock %}

{% block content %}
    <h2>Connexion</h2>

    {% if not loggedIn %}
        <form action="{{ root }}/login" class="w3-container w3-half" method="post">
            {# Adresse e-mail #}

            {{ forms.text("email", email, "Adresse e-mail") }}

            {#<label for="email">Adresse e-mail</label>
            <input type="text" name="email" id="email" value="{{ email }}" class="w3-input w3-border w3-margin-bottom">#}

            {{ forms.message("red", errors.email) }}

            {# Mot de passe #}

            {{ forms.password("password", password, "Mot de passe") }}

            {#<label for="password">Mot de passe</label>
            <input type="password" name="password" id="password" value="{{ password }}" class="w3-input w3-border w3-margin-bottom">#}

            {{ forms.message("red", errors.password) }}

            {# Jeton CSRF #}

            {{ forms.csrf }}

            {# Bouton #}

            {{ forms.button("blue", "Se connecter") }}

            {# Lien d'inscription #}

            <p>
                <a class="w3-text-blue" href="{{ root }}/register">Pas encore inscrit(e) ?</a>
            </p>

            {#
            <p>
                <a class="w3-text-blue" href="{{ root }}/reset">Mot de passe oublié ?</a>
            </p>
            #}
        </form>
    {% else %}
        <p>Vous êtes déjà connecté(e).</p>

        <p>Veuillez revenir sur la <a href="{{ root }}">page d'accueil</a>.</p>
    {% endif %}
{% endblock %}