{% extends "layout.twig" %}

{% block content %}
    <h2>Profil de l'utilisateur {{ session.username }}</h2>

    <h3><span class="green">{{ nbThemes }}</span> thème{% if nbThemes > 1 %}s{% endif %}</h3>

    <h3><span class="green">{{ nbExpressions }}</span> expression{% if nbExpressions > 1 %}s{% endif %}</h3>

    <div class="third">
        <h3>Identifiants</h3>

        <form action="{{ root }}/users/profile/{{ id }}" method="post">
            {# Pseudo #}

            <label for="username">Pseudo</label>
            <input type="text" name="username" id="username" value="{{ username }}" class="input">

            <p class="tip">{{ tips.username }}</p>

            <p class="error">{{ errors.username }}</p>

            {# Adresse e-mail #}

            <label for="email">Adresse e-mail</label>
            <input type="text" name="email" id="email" value="{{ email }}" class="input">

            <p class="tip">{{ tips.email }}</p>

            <p class="error">{{ errors.email }}</p>

            {# Jeton CSRF #}

            <input type="hidden" name="token" value="{{ session.token }}">

            {# Bouton #}

            {{ forms.submit("Editer") }}
        </form>

        <hr>

        <h3>Mot de passe</h3>

        <form action="{{ root }}/users/profile/1" method="post">
            {# Ancien mot de passe #}

            <label for="old">Ancien mot de passe</label>
            <input type="password" name="old" id="old" value="{{ old }}" class="input">

            <p class="tip">{{ tips.old }}</p>

            <p class="error">{{ errors.old }}</p>

            {# Nouveau mot de passe #}

            <label for="new">Nouveau mot de passe</label>
            <input type="password" name="new" id="new" value="{{ new }}" class="input">

            <p class="tip">{{ tips.new }}</p>

            <p class="error">{{ errors.new }}</p>

            {# Confirmation de mot de passe #}

            <label for="confirm">Confirmer le nouveau mot de passe</label>
            <input type="password" name="confirm" id="confirm" value="{{ confirm }}" class="input">

            <p class="error">{{ errors.confirm }}</p>

            {# Jeton CSRF #}

            <input type="hidden" name="token" value="{{ token }}">

            {# Bouton #}

            <button class="btn-success m-bottom">Editer</button>

            {#
            <p>
                <a href="{{ root }}/reset">Ancien mot de passe oublié ?</a>
            </p>
            #}
        </form>
    </div>
{% endblock %}