{% extends "layout.twig" %}

{% block title %}Profil de l'utilisateur {{ username }}{% endblock %}

{% block content %}
    <h2>Profil de l'utilisateur {{ username }}</h2>

    {% if not loggedIn %}
        <div class="w3-container w3-half">
            <h3>Identifiants</h3>

            <form action="{{ root }}/users/profile/1" method="post">
                {# Pseudo #}

                <label for="username">Pseudo</label>
                <input type="text" name="username" id="username" value="{{ username }}" class="w3-input w3-border w3-margin-bottom">

                <p class="w3-text-blue">{{ tips.username }}</p>

                <p class="w3-text-red">{{ errors.username }}</p>

                {# Adresse e-mail #}

                <label for="email">E-mail</label>
                <input type="text" name="email" id="email" value="{{ email }}" class="w3-input w3-border w3-margin-bottom">

                <p class="w3-text-blue">{{ tips.email }}</p>

                <p class="w3-text-red">{{ errors.email }}</p>

                {# Jeton CSRF #}

                <input type="hidden" name="token" value="{{ token }}">

                {# Bouton #}

                <button class="w3-btn w3-blue">Editer</button>
            </form>

            <hr>

            <h3>Mot de passe</h3>

            <form action="{{ root }}/users/profile/1" method="post">
                {# Ancien mot de passe #}

                <label for="old">Ancien mot de passe</label>
                <input type="password" name="old" id="old" value="{{ old }}" class="w3-input w3-border w3-margin-bottom">

                <p class="w3-text-blue">{{ tips.old }}</p>

                <p class="w3-text-red">{{ errors.old }}</p>

                {# Nouveau mot de passe #}

                <label for="new">Nouveau mot de passe</label>
                <input type="password" name="new" id="new" value="{{ new }}" class="w3-input w3-border w3-margin-bottom">

                <p class="w3-text-blue">{{ tips.new }}</p>

                <p class="w3-text-red">{{ errors.new }}</p>

                {# Confirmation de mot de passe #}

                <label for="confirm">Confirmer le nouveau mot de passe</label>
                <input type="password" name="confirm" id="confirm" value="{{ confirm }}" class="w3-input w3-border w3-margin-bottom">

                <p class="w3-text-red">{{ errors.confirm }}</p>

                {# Jeton CSRF #}

                <input type="hidden" name="token" value="{{ token }}">

                {# Bouton #}

                <button class="w3-btn w3-blue">Editer</button>

                {#
                <p>
                    <a class="w3-text-blue" href="{{ root }}/reset">Ancien mot de passe oublié ?</a>
                </p>
                #}
            </form>
        </div>
    {% else %}
        <p>Vous n'êtes pas autorisé(e) à consulter cette page de profil.</p>

        <p>Veuillez revenir à la <a href="{{ root }}">page d'accueil</a>.</p>
    {% endif %}
{% endblock %}