{% set field = "w3-input w3-border w3-margin-bottom" %}

{% extends "layout.twig" %}

{% block title %}Inscription{% endblock %}

{% block content %}
    <h2>Inscription</h2>

    {% if 1 %}
        <form action="{{ root }}/register" class="w3-container w3-half" method="post">
            <label for="username">Pseudo</label>
            <input type="text" name="username" id="username" value="{{ username }}" class="{{ field }}">

            <p class="w3-text-blue">{{ tips.username }}</p>

            <p class="w3-text-red">{{ errors.username }}</p>

            {# Adresse e-mail #}

            <label for="email">Adresse e-mail</label>
            <input type="text" name="email" id="email" value="{{ email }}" class="{{ field }}">

            <p class="w3-text-blue">{{ tips.email }}</p>

            <p class="w3-text-red">{{ errors.email }}</p>

            {# Mot de passe #}

            <label for="password">Mot de passe</label>
            <input type="password" name="password" id="password" value="{{ password }}" class="{{ field }}">

            <p class="w3-text-blue">{{ tips.password }}</p>

            <p class="w3-text-red">{{ errors.password }}</p>

            {# Confirmation du mot de passe #}

            <label for="confirm">Confirmer le mot de passe</label>
            <input type="password" name="confirm" id="confirm" value="{{ confirm }}" class="{{ field }}">

            <p class="w3-text-red">{{ errors.confirm }}</p>

            {# Bouton #}

            <button class="w3-btn w3-margin-bottom w3-blue">S'inscrire</button>
        </form>
    {% else %}
        <p>Vous êtes déjà inscrit(e).</p>
    {% endif %}
{% endblock %}