{% extends "layout.twig" %}

{% block title %}Inscription{% endblock %}
    
{% block content %}
    <h2>Inscription</h2>

    <form action="{{ root }}/users/register" class="container half" method="post">
        <label for="username">Pseudo</label>
        <input type="text" name="username" id="username" value="{{ username }}" class="input">

        <p class="tip">{{ tips.username }}</p>

        <p class="error">{{ errors.username }}</p>

        {# Adresse e-mail #}

        <label for="email">Adresse e-mail</label>
        <input type="text" name="email" id="email" value="{{ email }}" class="input">

        <p class="tip">{{ tips.email }}</p>

        <p class="error">{{ errors.email }}</p>

        {# Mot de passe #}

        <label for="password">Mot de passe</label>
        <input type="password" name="password" id="password" value="{{ password }}" class="input">

        <p class="tip">{{ tips.password }}</p>

        <p class="error">{{ errors.password }}</p>

        {# Confirmation du mot de passe #}

        <label for="confirm">Confirmer le mot de passe</label>
        <input type="password" name="confirm" id="confirm" value="{{ confirm }}" class="input">

        <p class="error">{{ errors.confirm }}</p>

        {# Bouton #}

        <button class="btn-info m-bottom">S'inscrire</button>

        {# Lien de connexion #}

        <p>
            <a href="{{ root }}/users/login">Déjà inscrit(e) ?</a>
        </p>
    </form>
{% endblock %}