{% import "macros/forms.twig" as forms %}

{% extends "layout.twig" %}

{% block title %}Inscription{% endblock %}

{% block content %}
    <h2>Inscription</h2>

    {% if not loggedIn %}
        {{ forms.start("register") }}
            {{ forms.text("username", username, "Pseudo") }}

            {{ forms.message("blue", tips.username) }}

            {{ forms.message("red", errors.username) }}

            {# Adresse e-mail #}

            {{ forms.email(email, "Adresse e-mail") }}

            {{ forms.message("blue", tips.email) }}

            {{ forms.message("red", errors.email) }}

            {# Mot de passe #}

            {{ forms.password("password", password, "Mot de passe") }}

            {{ forms.message("blue", tips.password) }}

            {{ forms.message("red", errors.password) }}

            {# Confirmation du mot de passe #}

            {{ forms.password("confirm", confirm, "Confirmer le mot de passe") }}

            {{ forms.message("red", errors.confirm) }}

            {# Bouton #}

            {{ forms.submit("S'inscrire") }}
        {{ form.end }}
    {% else %}
        <p>Vous êtes déjà inscrit(e).</p>
    {% endif %}
{% endblock %}