{% import "macros/forms.twig" as forms %}
{% import "macros/links.twig" as links %}

{% extends "layout.twig" %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block content %}
    <h2>Demande de réinitialisation de mot de passe</h2>

    {% if 1 %}
        {{ forms.start("reset", "third") }}
            {{ forms.email(email, "Adresse e-mail") }}

            {{ forms.info(tips.email) }}

            {{ forms.error(errors.email) }}

            {{ forms.submit("Envoyer") }}

            <p>{{ links.hypertext("login", "Revenir à la page de connexion") }}</p>
        {{ forms.end }}
    {% else %}
        <p>Vous êtes déjà connecté(e).</p>

        <p>Vous pouvez revenir sur la {{ links.home }} ou changer vos informations sur votre {{ links.hypertext("users/profile/1", "page de profil") }}.</p>
    {% endif %}
{% endblock %}