{% extends "layout.twig" %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block content %}
    <h2>Demande de réinitialisation du mot de passe</h2>

    {% if 1 %}
        <form action="{{ root }}/users/reset" class="w3-container w3-third" method="post">
            {# Adresse e-mail #}

            <label for="email">Adresse e-mail</label>
            <input type="text" name="email" id="email" value="{{ email }}" class="w3-input w3-border w3-margin-bottom">

            <p class="w3-text-red">{{ errors.email }}</p>

            {# Bouton #}

            <button class="info m-bottom">Envoyer</button>

            {# Lien de connexion #}

            <p>
                <a href="{{ root }}/users/login">Revenir à la page de connexion</a>
            </p>
        </form>
    {% else %}
        <p>Vous êtes déjà connecté(e).</p>

        <p>Vous pouvez revenir sur la <a href="{{ root }}/">page d'accueil</a> ou changer vos informations sur votre <a href="{{ root }}/users/profile/1">page de profil</a>.</p>
    {% endif %}
{% endblock %}